services:
  env-dashboard:
    image: "mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest"
    environment:
      ASPIRE_DASHBOARD_FORWARDEDHEADERS_ENABLED: "true"
    ports:
      - "8082:18888"
    expose:
      - "18889"
    networks:
      - "aspire"
    restart: "always"
  cache:
    image: "docker.io/library/redis:8.2"
    command:
      - "-c"
      - "redis-server --requirepass $$REDIS_PASSWORD --save 60 1"
    entrypoint:
      - "/bin/sh"
    environment:
      REDIS_PASSWORD: "${CACHE_PASSWORD}"
    expose:
      - "6379"
    volumes:
      - type: "volume"
        target: "/data"
        source: "weathereye.apphost-efe3d9e3ea-cache-data"
        read_only: false
    networks:
      - "aspire"
  postgre:
    image: "docker.io/library/postgres:17.6"
    container_name: "postgre"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "${POSTGRE_PASSWORD}"
    expose:
      - "5432"
    volumes:
      - type: "volume"
        target: "/var/lib/postgresql/data"
        source: "postgreData"
        read_only: false
    networks:
      - "aspire"
  postgrekc:
    image: "docker.io/library/postgres:17.6"
    container_name: "postgreKC"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "${POSTGREKC_PASSWORD}"
    expose:
      - "5432"
    volumes:
      - type: "volume"
        target: "/var/lib/postgresql/data"
        source: "postgreKCData"
        read_only: false
    networks:
      - "aspire"
  keycloak:
    image: "quay.io/keycloak/keycloak:26.4"
    command:
      - "start"
      - "--import-realm"
      - "--verbose"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: "admin"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "${KEYCLOAK_PASSWORD}"
      KC_HEALTH_ENABLED: "true"
      ConnectionStrings__postgres: "Host=postgreKC;Port=5432;Username=postgres;Password=${POSTGREKC_PASSWORD};Database=postgres"
      POSTGRES_HOST: "postgreKC"
      POSTGRES_PORT: "5432"
      POSTGRES_USERNAME: "postgres"
      POSTGRES_PASSWORD: "${POSTGREKC_PASSWORD}"
      POSTGRES_URI: "postgresql://postgres:${POSTGREKC_PASSWORD}@postgreKC:5432/postgres"
      POSTGRES_JDBCCONNECTIONSTRING: "jdbc:postgresql://postgreKC:5432/postgres"
      POSTGRES_DATABASE: "postgres"
      KC_HTTP_ENABLED: "true"
      KC_PROXY_HEADERS: "xforwarded"
      KC_HOSTNAME_STRICT: "false"
      KC_DB: "postgres"
      KC_DB_URL: "jdbc:postgresql://postgreKC/postgres"
      KC_DB_USERNAME: "postgres"
      KC_DB_PASSWORD: "${POSTGREKC_PASSWORD}"
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: "true"
      KC_HOSTNAME: "https://auth.weathereye.eu/"
    ports:
      - "8081:8080"
    expose:
      - "9000"
    depends_on:
      postgrekc:
        condition: "service_started"
    networks:
      - "aspire"
  messaging:
    image: "docker.io/library/rabbitmq:4.2-management"
    container_name: "rabbitmqWeatherEye"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "${MESSAGING_PASSWORD}"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "messaging"
    expose:
      - "5672"
      - "15672"
    volumes:
      - type: "volume"
        target: "/var/lib/rabbitmq"
        source: "rabbitmqWeatherEyeDataVolume"
        read_only: false
    networks:
      - "aspire"
  apiservice:
    image: "${APISERVICE_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${APISERVICE_PORT}"
      KEYCLOAK_HTTP: "http://keycloak:8080"
      services__keycloak__http__0: "http://keycloak:8080"
      KEYCLOAK_MANAGEMENT: "http://keycloak:9000"
      services__keycloak__management__0: "http://keycloak:9000"
      ConnectionStrings__messaging: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      MESSAGING_HOST: "messaging"
      MESSAGING_PORT: "5672"
      MESSAGING_USERNAME: "guest"
      MESSAGING_PASSWORD: "${MESSAGING_PASSWORD}"
      MESSAGING_URI: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      ConnectionStrings__cache: "cache:6379,password=${CACHE_PASSWORD}"
      CACHE_HOST: "cache"
      CACHE_PORT: "6379"
      CACHE_PASSWORD: "${CACHE_PASSWORD}"
      CACHE_URI: "redis://:${CACHE_PASSWORD}@cache:6379"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "apiservice"
    ports:
      - "${APISERVICE_PORT}"
      - "7721:7721"
    depends_on:
      keycloak:
        condition: "service_started"
      messaging:
        condition: "service_started"
      cache:
        condition: "service_started"
    networks:
      - "aspire"
    restart: "unless-stopped"
  webfrontend:
    image: "${WEBFRONTEND_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${WEBFRONTEND_PORT}"
      KEYCLOAK_HTTP: "http://keycloak:8080"
      services__keycloak__http__0: "http://keycloak:8080"
      KEYCLOAK_MANAGEMENT: "http://keycloak:9000"
      services__keycloak__management__0: "http://keycloak:9000"
      APISERVICE_HTTP: "http://apiservice:${APISERVICE_PORT}"
      services__apiservice__http__0: "http://apiservice:${APISERVICE_PORT}"
      APISERVICE_HTTPS: "https://apiservice:${APISERVICE_PORT}"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "webfrontend"
    ports:
      - "${WEBFRONTEND_PORT}"
      - "7722:7722"
    depends_on:
      keycloak:
        condition: "service_started"
      apiservice:
        condition: "service_started"
    networks:
      - "aspire"
    restart: "unless-stopped"
  chmicapalertprovider:
    image: "${CHMICAPALERTPROVIDER_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ConnectionStrings__messaging: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      MESSAGING_HOST: "messaging"
      MESSAGING_PORT: "5672"
      MESSAGING_USERNAME: "guest"
      MESSAGING_PASSWORD: "${MESSAGING_PASSWORD}"
      MESSAGING_URI: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      ConnectionStrings__chmiAlertDB: "Host=postgre;Port=5432;Username=postgres;Password=${POSTGRE_PASSWORD};Database=chmiAlertDB"
      CHMIALERTDB_HOST: "postgre"
      CHMIALERTDB_PORT: "5432"
      CHMIALERTDB_USERNAME: "postgres"
      CHMIALERTDB_PASSWORD: "${POSTGRE_PASSWORD}"
      CHMIALERTDB_URI: "postgresql://postgres:${POSTGRE_PASSWORD}@postgre:5432/chmiAlertDB"
      CHMIALERTDB_JDBCCONNECTIONSTRING: "jdbc:postgresql://postgre:5432/chmiAlertDB"
      CHMIALERTDB_DATABASE: "chmiAlertDB"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "chmicapalertprovider"
    depends_on:
      messaging:
        condition: "service_started"
      postgre:
        condition: "service_started"
    networks:
      - "aspire"
    restart: "unless-stopped"
  postgreuser:
    image: "docker.io/library/postgres:17.6"
    container_name: "postgreUser"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "${POSTGREUSER_PASSWORD}"
    expose:
      - "5432"
    volumes:
      - type: "volume"
        target: "/var/lib/postgresql/data"
        source: "postgreUserData"
        read_only: false
    networks:
      - "aspire"
  userservice:
    image: "${USERSERVICE_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ConnectionStrings__messaging: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      MESSAGING_HOST: "messaging"
      MESSAGING_PORT: "5672"
      MESSAGING_USERNAME: "guest"
      MESSAGING_PASSWORD: "${MESSAGING_PASSWORD}"
      MESSAGING_URI: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      ConnectionStrings__UserDB: "Host=postgreUser;Port=5432;Username=postgres;Password=${POSTGREUSER_PASSWORD};Database=UserDB"
      USERDB_HOST: "postgreUser"
      USERDB_PORT: "5432"
      USERDB_USERNAME: "postgres"
      USERDB_PASSWORD: "${POSTGREUSER_PASSWORD}"
      USERDB_URI: "postgresql://postgres:${POSTGREUSER_PASSWORD}@postgreUser:5432/UserDB"
      USERDB_JDBCCONNECTIONSTRING: "jdbc:postgresql://postgreUser:5432/UserDB"
      USERDB_DATABASE: "UserDB"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "userservice"
    depends_on:
      messaging:
        condition: "service_started"
      postgreuser:
        condition: "service_started"
    networks:
      - "aspire"
    restart: "unless-stopped"
  emailnotificationservice:
    image: "${EMAILNOTIFICATIONSERVICE_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ConnectionStrings__messaging: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      MESSAGING_HOST: "messaging"
      MESSAGING_PORT: "5672"
      MESSAGING_USERNAME: "guest"
      MESSAGING_PASSWORD: "${MESSAGING_PASSWORD}"
      MESSAGING_URI: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "emailnotificationservice"
    depends_on:
      messaging:
        condition: "service_started"
    networks:
      - "aspire"
    restart: "unless-stopped"
  mobilenotificationservice:
    image: "${MOBILENOTIFICATIONSERVICE_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ConnectionStrings__messaging: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      MESSAGING_HOST: "messaging"
      MESSAGING_PORT: "5672"
      MESSAGING_USERNAME: "guest"
      MESSAGING_PASSWORD: "${MESSAGING_PASSWORD}"
      MESSAGING_URI: "amqp://guest:${MESSAGING_PASSWORD}@messaging:5672"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "mobilenotificationservice"
    depends_on:
      messaging:
        condition: "service_started"
    networks:
      - "aspire"
    restart: "unless-stopped"
networks:
  aspire:
    driver: "bridge"
volumes:
  weathereye.apphost-efe3d9e3ea-cache-data:
    driver: "local"
  postgreData:
    driver: "local"
  postgreKCData:
    driver: "local"
  rabbitmqWeatherEyeDataVolume:
    driver: "local"
  postgreUserData:
    driver: "local"
